
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --primary-color: #78350F;
  --yellow-color:  #FDE68A;
  --footer-color:
  #D97706;
}
body{
  background-color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
}
h1{
  text-align: center;
  color:var(--yellow-color);
}
.container{
  width: 40%;
  margin: auto;
}

input, label {
  display:block;
  padding: 0.3rem;
  background: transparent;
  border-color: var(--yellow-color);
  color: var(--yellow-color);
}
p , #display-message{
  color:var(--yellow-color);
}
input{
  margin-bottom: 0.5rem;
  width: 100%;
}
#check-number{
 padding: 0.5rem;
  display: block;
  margin-top: 1rem;
  margin: auto;
  background-color:var(--primary-color);
  color:var(--yellow-color);
  border-color: var(--yellow-color);
}

.list-non-bullet {
  list-style: none;
  padding-inline-start: 0px;
}


.list-item-inline{
      display: inline;
      padding: 0rem 0.5rem;
}
.footer {
  margin-top: 15rem;
  background-color: var(--footer-color);
  padding: 2rem 1rem;
  text-align: center;
  color: var(--primary-color)
  /* border-top-right-radius: 1rem;  */
}

.footer .link {
  color: var(--primary-color);
}

.footer .footer-header{
  font-weight: bold;
  font-size: large;
}

.footer ul{
  padding-inline-start: 0px;
}