
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --primary-color: #78350F;
  --yellow-color:  #FDE68A;
  --footer-color:
  #D97706;
}

body {
    padding-top: 1rem;
  background-color: var(--primary-color);
  color: var(--yellow-color);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  margin:1rem;
}

.container {
  width: 300px;
  margin: auto;
}

input,
label {
    padding: 0.5rem;
    color: var(--yellow-color);
  display: block;
  border-width:medium;
  border-color: var(--yellow-color);
  background: transparent;
}

#check-number{
    background-color: var(--primary-color);
    background: transparent;
    border-color: var(--yellow-color);
    color: var(--yellow-color);
    
}
input {
  margin-bottom: 0.5rem;
  width: 100%;
}

.privacy-notice{
  text-align: center;
    margin: auto;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--yellow-color);
   
}
.footer {
  background-color: var(--footer-color);
  margin-top: 12rem;
  padding: 2rem 1rem;
  text-align: center;
  
  
}

.footer .link {
  color: var(--primary-color);
  margin: auto;
  display: inline;
}

.footer .footer-header{
  font-weight: bold;
  font-size: large;
  color:var(--primary-color)
}

.footer ul li{
  list-style-type: none;
 
  display: inline;

}
